// Define variables for your color scheme

// For example:
$red: #F40304;
$blue: #1C59BE;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #E3E3E3;
$light-gray: #F4F4F4;
$dark-gray: #1e1e1e;
