// Specific CSS for your home-page

.involteBanner {
  background: linear-gradient(233.46deg, #1e5bc6 4.26%, #59b9af 84.51%);
}
.banner {
  height: 80vh;
  background-blend-mode: darken;
  mix-blend-mode: normal;
  margin-top: -90px;
  display: flex;
  position: relative;
  width: 100%;
  .tittleBanner {
    position: absolute;
    height: 300px;
    right: 35%;
    top: 18%;
    left: 4%;
    h1 {
      font-size: 5.4rem;
      line-height: 5.4rem;
      color: #ffffff;
      text-align: left;
      border: 2px solid #ffffff;
      box-sizing: border-box;
      border-radius: 18px;
      padding: 35px;
      width: 50%;
    }
  }
  .img_banner {
    height: 70vh;
    bottom: 0;
    position: absolute;
  }
}

.forte {
  font-weight: 700;
}

.containerSegundo {
  display: flex;
  margin-top: 20px;
  margin-bottom: 3em;
}

.containerSegundo h1 {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 50px;
}

.containerSegundo p {
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  margin-top: 20px;
}

.iconesHome {
  display: flex;
  justify-content: center;
}

.texto-container h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  align-items: center;
  text-align: center;
  color: #c70039;
}

.texto-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #111d5e;
}

.iconesImg {
  width: 60%;
}

.maisVantagens {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
  h2 {
    font-size: 55px;
    line-height: 100px;
    letter-spacing: 0.04em;
    opacity: 0.36;
    text-align: left;
  }
}

.teste {
  background: #f6f6f6;
  padding: 3em;
}

.containerQuarto h3 {
  text-align: center;
  margin-bottom: 35px;
}

.btnHome {
  width: 650px;
  height: 80px;
  border-radius: 67px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(260.18deg, #1e5ec3 47.59%, #249ef0 99.01%);
}

.containerQuarto {
  margin-top: 6em;
  margin-bottom: 10em;
}

.icone {
  text-align: center;
  margin-right: 50px;
  line-height: 39px;
  letter-spacing: 0.04em;
}

.icone1 {
  width: 40%;
  margin-bottom: 20px;
}

.icone2 {
  width: 39%;
  margin-bottom: 20px;
}
.icone3 {
  width: 39%;
  margin-bottom: 20px;
}

.containerTerceiro {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .img_banner {
    display: none;
  }
  .containerSegundo {
    display: block;
  }
  .tittleBanner {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 0;
    left: 0;
  }
  .banner h1 {
    font-size: 63px;
    line-height: 70px;
  }
  .banner {
    height: auto;
  }

  .banner svg {
    position: absolute;
    top: 389px;
    width: 100%;
  }

  .containerSegundo {
    text-align: center;
  }

  .maisVantagens h2 {
    font-size: 38px;
    line-height: 50px;
  }

  .containerSegundo p {
    font-size: 20px;
  }

  .containerTerceiro {
    display: block;
  }

  .btnHome {
    width: 90%;
    height: auto;
    font-size: 1.6rem;
  }

  .agendamentoHome {
    padding: 24px;
    text-align: center;
  }
  .icone {
    margin-right: 0px;
  }

  .containerQuarto {
    margin-top: 1em;
    margin-bottom: 6em;
  }

  .tittleBanner {
    width: 95%;
  }

  .tittleBanner h1 {
    display: none;
  }
  .img_banner_mobile {
    max-width: 100%;
    height: auto;
    margin-bottom: -1rem;
  }
  .maisVantagens {
    max-width: 100%;
    margin-left: 0;
  }
  .maisVantagens h2 {
    text-align: center;
  }

  .containerSegundo h1 {
    font-size: 40px;
  }
}

@media (min-width: 751px) {
  .img_banner_mobile {
    display: none;
  }
}

@media only (min-width: 601px) {
  .img_banner {
    left: 400px;
  }
  .involteBanner {
    align-items: center;
  }
  .banner .tittleBanner h1 {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .img_banner {
    right: 171px !important;
  }
  .involteBanner {
    align-items: center;
  }
  .banner .tittleBanner h1 {
    width: 50% !important;
  }
}
