// Specific CSS for your home-page
.img_banner {
  height: 611px;
  position: absolute;
  left: 586px;
  top: 70px;
}

.forte {
  font-weight: 700;
}

.banner h1 {
  font-size: 100px;
  line-height: 108px;
  color: #ffffff;
  text-align: left;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 18px;
  padding: 35px;
}

.banner {
  height: 713px;
  background: linear-gradient(233.46deg, #ca2e7d 4.26%, #1d5dc3 84.51%);
  background-blend-mode: darken;
  mix-blend-mode: normal;
  margin-top: -90px;
}

.tittleBanner {
  position: absolute;
  width: 673.8px;
  height: 338.81px;
  left: 200px;
  top: 100px;
}

.containerSegundo {
  display: flex;
  margin-top: 20px;
  margin-bottom: 3em;
}

.containerSegundo h1 {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 50px;
}

.economia {
  margin-left: 1em;
}

.comodidade {
  margin-left: 1.5em;
}

.containerSegundo p {
  font-style: normal;
  font-weight: 300;
  // font-size: 24px;
  line-height: 39px;
  // letter-spacing: 0.04em;
  margin-top: 20px;
}

.iconesHome {
  display: flex;
  justify-content: center;
}

.texto-container h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  align-items: center;
  text-align: center;
  color: #c70039;
}

.texto-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #111d5e;
}

.iconesImg {
  width: 60%;
}

.maisVantagens h2 {
  font-size: 78px;
  line-height: 100px;
  letter-spacing: 0.04em;
  opacity: 0.36;
  text-align: center;
}

.teste {
  background: #f6f6f6;
  padding: 3em;
}

.containerQuarto h3 {
  text-align: center;
  margin-bottom: 35px;
}

.btnHome {
  width: 650px;
  height: 80px;
  border-radius: 67px;
}
.btnHome {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

.containerQuarto {
  margin-top: 6em;
  margin-bottom: 10em;
}

.icone {
  text-align: center;
  margin-right: 50px;
  line-height: 39px;
  letter-spacing: 0.04em;
}

.icone1 {
  width: 40%;
}

.icone2 {
  width: 39%;
}
.icone3 {
  width: 39%;
}

// .formHome h2 {
//   font-style: normal;
//   font-weight: 900;
//   font-size: 25px;
//   line-height: 21px;
//   color: #111d5e;
//   text-align: center;
//   margin-left: -15px;
// }

// .formEmail {
//   margin-top: 14px;
//   margin-bottom: 10px;
// }

// .formSenha {
//   position: relative;
//   top: 33px;
//   left: -8%;
// }

// .formRemember {
//   margin-bottom: -9px;
// }

// .rememberForm {
//   margin-bottom: -10px;
// }

// .formBox {
//   margin-top: 6px;
// }

// .formSign {
//   background: #c70039;
//   border: 1px solid #c70039;
//   box-sizing: border-box;
//   color: #fff;
//   width: 70px;
//   margin-top: 0rem;
// }

// // .formForgot {
// //   position: relative;
// //   top: 80px;
// //   left: 28%;
// // }

// // .formNew {
// //   position: relative;
// //   top: 100px;
// //   left: 5%;
// // }
