.content-container {
  margin-top: 2rem;
  h1 {
    margin-bottom: 1.2rem;
  }
  p.subtitle {
    margin-bottom: 2rem;
  }
}

.edit-buttons {
  a.m-right {
    margin-right: 1rem;
  }
}

.table {
  border-collapse:collapse;
  border-radius:15px;
  -moz-border-radius:15px;
  overflow: hidden;
  font-size: 0.7rem;
  box-shadow: 2px 2px 5px rgb(204, 203, 203);
  .table-head {
    background: linear-gradient(260.18deg, #1E5EC3 47.59%, #249ef0 99.01%);
    color: white;
    text-align: center;
    tr, th.col {
      vertical-align: middle;
    }
  }
tbody {
  background-color: white;
}
}

table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  td, th {
    vertical-align: middle !important;
  }
}

