<div class="container-error">
  <%= image_tag 'logo-hackaton.png' %>
  <h1>Oups algo deu errado</h1>
  <p>A ação que você tentou realizar não é autorizada, você pode voltar para página principal clicando <%= link_to 'aqui', root_path, class: 'link-error' %></p>
</div>