.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 35px;
  margin-left: 10px;
}

.nav-link {
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  border-radius: 25px;
  margin-right: 5px;
  color: #f4f4f4;
  transition: background-color 0.5s ease-in;
  transition: color 0.5s ease-in;
  &:hover a {
    background-color: white;
  }
}

.nav-item a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #f4f4f4;
}

.start-button:hover {
  background-color: white;
}

.bg-new {
  background: linear-gradient(233.46deg, #1e5bc6 4.26%, #59b9af 84.51%);
}

.nav-item {
  list-style: none;
}

@media (max-width: 600px) {
  .navbar {
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-around;
  }
  .nav-link {
    font-size: 14px;
  }
}
