<p>Olà <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos contatando você para avisar que seu email foi mudado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos contatando você para avisar que seu email foi mudado para <%= @resource.email %>.</p>
<% end %>
