<p>Olà <%= @resource.email %>!</p>

<p>Alguém pediu um link para mudar sua senha. Você pode fazer isso a través do link seguinte :</p>

<p><%= link_to 'Mudar a minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não é à origem desse pedido, pode ignorar esse email.</p>
<p>A sua senha não será modificada até você acessar o link em cima e criar uma nova.</p>
